<div class="col-md-6 mx-auto">
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="text-center">
        <button type="submit" class="btn btn-lg btn-light">Valider <i class="fas fa-check ms-2"></i></button>
    </div>
    {{ form_end(form) }}
</div>